In [1]:
import pandas as pd

Load data

In [2]:
df = pd.read_csv('../data/us_stocks.csv')

Convert the `date` column to `datetime` format

In [3]:
df['date'] = pd.to_datetime(df['date'])

Select stock price data only from `2000` onwards

In [4]:
df = df[df['date'].apply(lambda d: d.year >= 2000)]

Set `ticker` and `date` as index

In [5]:
df = df.set_index(['ticker','date'])

Keep only the `adjusted open`, `low`, `high`, `close`, and `volume (OHLCV) prices`, and rename by removing the `adj_` prefix

In [6]:
columns = ['high','low','close','volume','adj_open']

In [7]:
df = df[columns]

In [8]:
df.rename(columns={'adj_open':'open'},inplace=True)

In [9]:
df.head()

                    high    low  close     volume       open
ticker date
A      2000-01-03  78.94  67.38  72.00  3343600.0  53.726454
       2000-01-04  68.88  64.75  66.50  3408500.0  46.481058
       2000-01-05  66.31  61.31  61.56  4119200.0  45.198445
       2000-01-06  62.00  58.13  60.00  1812900.0  42.046493
       2000-01-07  65.94  59.00  65.00  2016900.0  40.293135

Store in HDF5 format for fast access.

In [10]:
df.to_hdf('../data/us_stocks.h5',key='df', mode='w')